*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a   {
    text-decoration: none;
}

li  {
    list-style: none;
}

header  {
    background-color:darkgoldenrod
}

main{
    background-color: coral;
}

footer  {
    background-color: darkolivegreen;
}


.header__menu{
    background-color: brown;
    height: 280px;

}

.main__jumbotron{
    background-color: rgb(50, 196, 45);
    height: 480px;
}

.main__us   {
    background-color: rgb(46, 179, 167);
    height: 480px;
    
}

.footer__rrss   {
    background-color: rgb(86, 110, 160);
    /* height: 480px; */
    
}

.footer__navbar {
    background-color: rgb(53, 70, 107);
    /* height: 480px; */
    
}

.footer__nav    {
    background-color: rgb(142, 216, 198);
    /* height: 480px; */
}

.footer__copyright  {
    background-color: rgb(252, 255, 96);

}
/* 
header__logo{

}

header__navbar{

} 

main__jumbotron{

}

main_products {

}

main__register-client{

}





*/
