*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* 
header{
    background-color: brown;
    height: 60px;

}

header__menu{
    

}

header__logo{

}

header__navbar{

} 

main__jumbotron{

}

main_products {

}

main__register-client{

}





*/
